<div class="grid-side-main">
    <div class="item-menu">
      <div class="rounded-list">
        <div>
          <h3 *ngIf="authFacade.isAuthenticated$ | async" (click)="CreateFakeNews()">Create Fake News</h3>
          <h3 (click)="deSelecteUser()">Show All News</h3>
        </div> 
      </div>
      <ol class="rounded-list" *ngFor="let user of (userFacade.userList$| async)">
        <li><a (click)="selectUser(user.id)"><p>{{user.fullName}}</p></a>
          <ol>
            <a (click)="loginAsDiffrentUser(user.userName)">DoLogin As: {{user.userName}}</a>
          </ol>
        </li>
      </ol>
    </div>
    <div class="item-main">
      <div class="card" title="{{news.createdTime}}" *ngFor="let news of (newsFacade.news$| async); trackBy: trackByNews">
        <img [src]="news.imgUrl" alt="Avatar" class="card-img">
        <div *ngIf="authFacade.isAuthenticated$ | async" class="justify-content-end">
          <container-element [ngSwitch]="hasLiked(news.id) | async">
            <i *ngSwitchCase="false" (click)="doLikeNews(news.id)" class="fa fa-heart-o"></i>
            <i *ngSwitchDefault (click)="doLikeNews(news.id)" class="fa fa-heart"></i>
          </container-element>
        </div>
        <div class="card-container">
            <h4><b>{{news.subject}}</b></h4> 
            <p>{{news.content}}</p> 
        </div>
    </div>
    </div>
</div>
