<div class="grid-side-main">
    <div class="item-menu">
      <ol class="rounded-list" *ngFor="let user of (userList$ | async)">
        <li><a href="">{{user.fullName}}</a>
          <ol>
            <p>Username: {{user.userName}}</p>
          </ol>
        </li>
      </ol>
    </div>
    <div class="item-main">
      <div class="card" title="{{news.createdTime}}" *ngFor="let news of (news$| async)">
        <img [src]="news.imgUrl" alt="Avatar" class="card-img">
        <div class="card-container">
            <h4><b>{{news.subject}}</b></h4> 
            <p>{{news.content}}</p> 
        </div>
    </div>
    </div>
</div>
