<mat-toolbar color="primary">
    News App, isAuthenticated: {{(authFacade.isAuthenticated$ | async) ? 'true' : 'false'}}

    <span class="spacer"></span>
        Hello,  {{(authFacade.loginInfo$ | async)?.fullName}}
    <span class="spacer"></span>

    <button mat-flat-button color="primary" routerLink="news-feed" routerLinkActive="active">NewsFeed</button>
    <button mat-flat-button color="primary" routerLink="users" routerLinkActive="active">Users</button>
</mat-toolbar>

<main>
    <router-outlet></router-outlet>
</main>
